/*
* {
	box-sizing: border-box;
}

.container {
	width: 80%;
	background-color: #cacbd3;
	margin:0 auto;
}

div div{
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	line-height: 180px;
}

div div:nth-child(1){
	background-color: #800000;
}

div div:nth-child(2){
	background-color: #FFFF00;
}

div div:nth-child(3){
	background-color: #808000;
}

div div:nth-child(4){
	background-color: #F08080;
}
  
div div:nth-child(5){
	background-color: #27AE60;
}
*/
/*
  ----------------------------------------------------------------
  ORGINALUS KODAS
  ----------------------------------------------------------------

  <!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>POSITION - FLEX BOX</title>
	</head>
	<body>
		<div class="container">
			<div>
				<h2>Pirmas</h2>
			</div>
			<div>
				<h2>Antras</h2>
			</div>
			<div>
				<h2>Trecias</h2>
			</div>
			<div>
				<h2>Ketvirtas</h2>
			</div>
			<div>
				<h2>Penktas</h2>
			</div>
		</div>
	</body>
</html>
*/


* {
	box-sizing: border-box;
}

.container {
	width: 80%;
	background-color: #cacbd3;
	margin:100px auto;
	height: 500px;
	position: relative;
}

div div{
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	line-height: 180px;
	position: absolute;
	bottom: 0;
	right: 0;

}

div div:nth-child(1){
	background-color: #800000;
}

div div:nth-child(2){
	background-color: #FFFF00;
	z-index: 110;
}

div div:nth-child(3){
	background-color: #808000;
	z-index: 100;
}

div div:nth-child(4){
	background-color: #F08080;
}
  
div div:nth-child(5){
	background-color: #27AE60;
}