*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

.container{
	margin: 0px auto; /* iscentruoja */
	width: 80%;  /* is 100 padarys 80% ir tada pagal tai iscentruja*/
}


img {
	max-width: 100%; /*iterpia paveiksleli pilnu dydziu*/
}

.image{
	width: 400px;
	margin: 0 auto;
}



.sofa {
	margin: 20px auto;
	width: 100%; 
	text-align: center;
	font-size: 2em;
}


.topic{
	border-top: 4px double red;
	border-bottom: 4px double red;
	margin: 20px auto;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}


section{
	
	margin: 0px auto;
}

section article{
	text-align: justify;
	width: 24%;
	display: inline-block;
	margin: 0px auto;
	padding: 10px;
}

footer{
	text-align: center;
	width: 100%;
	margin: 20px auto;
	margin-top: 50px;

}

#greytext{
	color: grey;
}

.fa-accusoft {
	font-size: 0.5em;
}
