.imgControl{
  margin: auto;
  text-align: center;
  background-color: white;
  width: 80%;
  padding: 5%;
  border: 1px solid red;
}

.tag{
  color:red;
  text-align: center;
  font-style: italic;
  padding: 20px;
}